<!-- start library --s>

  {{ '//use.fontawesome.com/releases/v5.13.0/css/all.css' | stylesheet_tag }}
  {{ '//use.fontawesome.com/releases/v5.13.0/css/v4-shims.css' | stylesheet_tag }}

<!-- end library --s>

<!-- start html code --s>

        {% if section.settings.enable-startop %}
          <div class="startop-wrapper{% if section.settings.title-top-mobile %} title-none {% endif %}" style="
              margin: 5px;
              margin-bottom: {{ section.settings.startop-bot }}px;
          ">
            <div class="startop" style="
              display: flex;
              align-items: center;
            ">
            {% for i in (1..5) %}
              {% if i <= section.settings.startop %}
              <span class="fa fa-star" style="
                font-size: {{ section.settings.startop-size}}px;
                color: {{ section.settings.startop-color }};
              "></span>
              {% else %}
              <span class="fa fa-star-o" style="
                font-size: {{ section.settings.startop-size}}px;
                color: {{ section.settings.startop-color }};
              "></span>
              {% endif %}
            {% endfor %}
            <p style="
              margin: 0;
              padding-left: 8px;
              font-size: {{ section.settings.startext-size }}px;
            ">{{ section.settings.startop-names }}</p>
            </div>
          </div>
        {% endif %}

<!-- end html code -->

<!-- start schema code -->

,
    {
        "type": "header",
        "content": "⬛️ ÉTOILES"
    },
    {
      "type": "checkbox",
      "id": "enable-startop",
      "label": "Activer la barre de séparation avec étoiles global",
      "default": true
    },
    {
      "type": "range",
      "id": "startop-bot",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas du séparateur",
      "default": 20
    },
    {
      "type": "range",
      "id": "startop",
      "min": 0,
      "max": 5,
      "step": 1,
      "unit": "★",
      "label": "Nombre d'étoiles /5",
      "default": 4
    },
    {
      "type": "range",
      "id": "startop-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille des étoiles",
      "default": 21
    },
    {
	"id": "startop-names",
	"type": "text",
	"label": "Titre",
	"default": "8 AVIS"
    },
    {
      "type": "range",
      "id": "startext-size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Taille du texte",
      "default": 19
    },
    {
       "id": "startop-color",
       "type": "color",
       "label": "Couleur des étoiles",
	"default": "#FFE325"
    }

<!-- end schema code -->
